<link rel="stylesheet" href="./css/style.css" type="text/css" media="all">
    <body>
        <%- include('../partials/header2') %>
            <div class="main">
                <div class="customerData">
            <h1>Loan Details</h1>
            <table>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Loan Amount</th>
                    <th>Loan Amount with Interest</th>
                    <th>Payment Type</th>
                    <th>EMI Duration</th>
                    <th>Due Dates</th>
                </tr>
                <% tableData.forEach(function(rowData) { %>
                    <tr>
                        <td><%= rowData.customerId %></td>
                        <td><%= rowData.name %></td>
                        <td><%= rowData.email %></td>
                        <td><%= rowData.contact %></td>
                        <td><%= rowData.loanAmount %></td>
                        <td><%= rowData.loanAmountWithInterest %></td>
                        <td><%= rowData.paymentType %></td>
                        <td><%= rowData.
                            emiDuration %></td>
                        <td><%= rowData.dueDates %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
            </div>
    </body>
    </html>